.contacts__info {
  position: relative;
  background-color: $grey95;

  @media (min-width: $desktops) {
    background-color: transparent;
  }
}

.contacts--index .contacts__info {
  background-color: $white;

  @media (min-width: $tablets) {
    background-color: $white;
  }

  @media (min-width: $desktops) {
    background-color: transparent;
  }
}

.contacts__map-wrapper {
  position: relative;
  max-width: 100%;
  padding-bottom: 362px;
  background-color: $grey95;
  overflow: hidden;

  @media (min-width: $tablets) {
    padding-bottom: 396px;
  }

  @media (min-width: $desktops) {
    min-height: 400px;
    padding-top: 95px;
    padding-bottom: 103px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 170px;
    left: 50%;
    width: 62px;
    height: 53px;
    margin-left: -31px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    z-index: 1;

    @media (min-width: $tablets) {
      bottom: 144px;
      width: 124px;
      height: 106px;
      margin-left: -62px;
    }

    @media (min-width: $desktops) {
      margin-left: 278px;
    }
  }
}

.contacts__map-img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 320px;
  height: 400px;
  max-width: none;
  transform: translateX(-50%);

  @media (min-width: $tablets) {
    width: 767px;
    height: 400px;
  }

  @media (min-width: $desktops) {
    width: 1440px;
    height: 400px;
  }
}

.contacts__map {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 362px;
  z-index: 1;

  @media (min-width: $tablets) {
    min-height: 396px;
  }

  @media (min-width: $desktops) {
    top: 0;
  }
}

.contacts__layout {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 27px 0;
  z-index: 2;

  @media (min-width: $tablets) {
    justify-content: space-between;
    padding: 65px 40px 56px;
  }

  @media (min-width: $desktops) {
    width: 570px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: white;
  }
}

.contacts__title-block {
  width: 50%;
  padding-right: 20px;

  @media (min-width: $tablets) {
    width: 170px;
  }
}

.contacts__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $almost-black;

  @media (min-width: $tablets) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__info-block {
  width: 50%;

  @media (min-width: $tablets) {
    width: 170px;
    text-align: right;
  }

  @media (min-width: $desktops) {
    text-align: inherit;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}

.contacts__city {
  @media (min-width: $tablets) {
    display: block;
    margin-top: 20px;
  }
}
