.intro {
  margin-bottom: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #63a73a;
  background-image: linear-gradient(to top, #ffffff 175px, transparent 175px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;
}

.intro__text-block {
  position: relative;
  max-width: 320px;
  min-height: 168px;
  margin-left: auto;
  margin-right: auto;
  padding: 28px 20px;
}

.intro .intro__title {
  margin: 0;
  margin-bottom: 22px;
  color: inherit;
}

.intro .intro__lead {
  margin: 0;
  color: inherit;
}

.intro__img {
  position: relative;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.intro__link-block {
  position: relative;
  max-width: 320px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
