.lead {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $almost-black;

  @media (min-width: $tablets) {
    font-size: 20px;
    line-height: 30px;
  }
}
