.main-nav {
  @media (min-width: $tablets) {
    width: 516px;
  }

  @media (min-width: $desktops) {
    &--index {
      background-color: $green;
    }
  }
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $tablets) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.main-nav--index .main-nav__items {
  @media (min-width: $desktops) {
    position: relative;
    z-index: 1;
  }
}

.main-nav__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  @media (min-width: $tablets) {
    padding: 10px 0 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  @media (min-width: $desktops) {
    padding: 11px 0 5px;
    font-size: 20px;
  }
}

.main-nav__item + .main-nav__item {
  @media (min-width: $tablets) {
    margin-left: 35px;
  }
}

.main-nav__item-link {
  display: block;
  padding: 23px 20px;
  color: $almost-black;
  text-decoration: none;
  box-shadow: inset 0 1px 0 $grey91;

  @media (min-width: $tablets) {
    padding: 8px 0 7px;
    border-bottom: 2px solid transparent;
    box-shadow: none;
  }

  @media (min-width: $desktops) {
    padding-bottom: 8px;
  }

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &--active {
    @media (min-width: $tablets) {
      border-color: $green;
    }
  }
}

.main-nav--index .main-nav__item-link {
  @media (min-width: $desktops) {
    color: $white;

    &--active {
      border-color: $white;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 20px;
  background-color: transparent;
  border: 0;
  user-select: none;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 10;

  @media (min-width: $tablets) {
    display: none;
  }

  &--hidden {
    display: none;
  }
}

.main-nav__toggle-bar {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 2px;
  background-color: $nero;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $nero;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

@media (max-width: $phones-max) {
  .main-nav--opened .main-nav__toggle-bar {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__items {
    display: none;
  }

  .main-nav--opened .main-nav__items {
    display: block;
  }
}
