.page-header {
  @media (min-width: $tablets) {
    padding: 24px 0 0;
  }

  @media (min-width: $desktops) {
    max-width: 100%;
    padding: 54px 0;
    overflow: hidden;
  }

  &--index {
    position: relative;
    padding-bottom: 22px;

    @media (min-width: $tablets) {
      padding-bottom: 0;
    }

    @media (min-width: $desktops) {
      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% / 2 - 40px);
        background-color: $green-darker;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-size: 680px auto;
        background-repeat: no-repeat;
        background-position: right bottom;
      }
    }

    @media (min-width: $desktops) and (min-resolution: $retina-dpi),
      (min-width: $desktops) and (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.page-header__layout {
  position: relative;
  border-bottom: 1px solid $grey91;

  @media (min-width: $tablets) {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 0;

    @include set-container;
    @include set-paddings;
  }
}

.page-header__logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-right: 54px;
  padding-bottom: 10px;
  padding-left: 20px;

  @media (min-width: $tablets) {
    flex-shrink: 0;
    padding: 0;
  }
}

.page-header__logo-link {
  padding-top: 1px;
  padding-bottom: 6px;

  @media (min-width: $tablets) {
    padding: 0;
  }

  &[href]:hover,
  &:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo {
  display: block;
  width: 34px;
  height: 38px;

  @media (min-width: $tablets) {
    width: 173px;
    height: 58px;
    padding: 0;
  }

  @media (min-width: $desktops) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-sign-link {
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-bottom: 13px;

  @media (min-width: $tablets) {
    display: none;
  }
}

.page-header__logo-sign {
  display: block;
}
