.page-main {
  padding-top: 27px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  &--index {
    max-width: inherit;
    padding-top: 0;
    margin: 0;
  }
}

.page-main__title {
  margin-top: 0;
  margin-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-main__lead {
  margin-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-main__title + .page-main__catalog {
  margin-top: 41px;
}

.page-main__extra-products {
  margin-top: 28px;
  padding-bottom: 35px;
}

.page-main__promo {
  margin-top: 39px;
}
