.page-main__title-container {
  padding-top: 27px;
}

.page-main__title-lead {
  margin-top: 38px;
}

.page-main__title-container + .page-main__container {
  margin-top: 38px;
}

.page-main__title-container + .page-main__catalog {
  margin-top: 41px;
}

.page-main__extra-products {
  margin-top: 28px;
  padding-bottom: 35px;
}

.page-main__promo {
  margin-top: 39px;
}
