.page-main {
  max-width: 100%;
  overflow-x: hidden;

  @media (min-width: $desktops) {
    &--index {
      padding-top: 80px;
    }
  }
}

.page-main__title-block {
  padding-top: 27px;
  margin-bottom: 38px;

  @media (min-width: $tablets) {
    padding-top: 58px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktops) {
    padding-top: 21px;
  }
}

.page-main__title {
  margin: 0;
}

.page-main__title-block + .page-main__catalog {
  margin-top: 41px;

  @media (min-width: $tablets) {
    margin-top: 83px;
  }
}

.page-main__catalog {
  margin-left: -$phones-paddings;
  margin-right: -$phones-paddings;

  @media (min-width: $tablets) {
    margin: 0;
  }
}

.page-main__form {
  margin-left: -$phones-paddings;
  margin-right: -$phones-paddings;

  @media (min-width: $tablets) {
    margin: 0;
  }
}

.page-main__extra-products {
  margin-top: 28px;
  padding-bottom: 35px;

  @media (min-width: $tablets) {
    margin-top: 68px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktops) {
    margin-top: 75px;
    padding-bottom: 86px;
  }
}
