.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin: 8px 1.5px 6px;

  @media (min-width: $tablets) {
    margin: 2px 14px 4px;
  }
}

.social__item-link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  @media (min-width: $tablets) {
    width: auto;
    height: 28px;
  }
}

.social__item-icon {
  fill: $grey40;

  &--vk {
    width: 22px;
    height: 12px;
    margin-top: -1px;
    margin-left: -3px;

    @media (min-width: $tablets) {
      width: 30px;
      height: 16px;
      margin: 0;
    }
  }

  &--inst {
    width: 16px;
    height: 16px;

    @media (min-width: $tablets) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    @media (min-width: $tablets) {
      width: 14px;
      height: 28px;
    }
  }
}

.social__item-link:hover .social__item-icon,
.social__item-link:focus .social__item-icon {
  fill: $green;
}

.social__item-link:active .social__item-icon {
  opacity: 0.3;
}
