.toggle {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 271px;
  padding-bottom: 36px;
  text-align: center;

  @media (min-width: $tablets) {
    padding-top: 551px;
    padding-bottom: 66px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      bottom: 0;
      width: 100vw;
      transform: translateX(-50%);
      background-image: linear-gradient(to bottom, $white, $white 169px, $grey95 169px, $grey95);
    }
  }

  @media (min-width: $desktops) {
    background-color: transparent;
    padding-bottom: 34px;

    &::before {
      display: none;
    }
  }
}

.toggle__input {
  @include visually-hidden;
}

.toggle__label {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $almost-black;
  user-select: none;
  z-index: 2;
  cursor: pointer;

  @media (min-width: $tablets) {
    font-size: 20px;
    padding: 7px 0;
    border-bottom: 1px dotted rgba($black, 0.23);

    &:hover {
      border-bottom-style: solid;
      border-color: rgba($almost-black, 0.4);
    }

    &:active {
      border-color: transparent;
    }
  }
}

.toggle__range {
  position: relative;
  display: block;
  width: 84px;
  margin: 3px 18px;
  z-index: 2;

  @media (min-width: $tablets) {
    flex-grow: 1;
    margin: 0;
    padding: 14px 25px;
    max-width: 478px;

    &::before {
      display: none;
    }
  }
}

.toggle__scale {
  display: block;
  height: 14px;
  background-color: $white;
  border: 1px solid $grey80;
  border-radius: 6px;

  @media (min-width: $tablets) {
    height: 6px;
    background-color: #dcdcdc;
    border: 0;
  }
}

.toggle__control {
  position: absolute;
  display: block;
  top: 50%;
  left: 5px;
  width: 35px;
  height: 6px;
  transform: translateY(-50%);
  background-color: #68b738;
  border-radius: 3px;
  text-indent: -1000px;
  overflow: hidden;
  transition: all 0.3s ease;

  @media (min-width: $tablets) {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: 1px solid $grey80;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }
  }
}

.toggle__item {
  position: absolute;
  top: 0;
  bottom: 0;
  user-select: none;

  &--on {
    display: none;
  }

  @media (min-width: $tablets) {
    &--on {
      display: block;
    }

    &--off {
      z-index: 1;
    }
  }
}

.toggle__img {
  width: 320px;
  height: 240px;

  @media (min-width: $tablets) {
    width: 708px;
    height: 517px;
  }

  @media (min-width: $desktops) {
    width: 690px;
    height: 517px;
  }
}

@media (max-width: $phones-max) {
  .toggle__input:checked ~ .toggle__range .toggle__control {
    left: calc(100% - 40px);
  }

  .toggle__input:checked ~ .toggle__item--on {
    display: block;
  }

  .toggle__input:checked ~ .toggle__item--off {
    display: none;
  }
}
