html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $grey-dark;

  @media (min-width: $tablets) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visually-hidden;
}
