/*project colors*/
$green: #000;
$green-light: #000;
$grey: #000;
$grey-light: #000;

/*sizes and breakpoints*/
$phones: 320px;
$tablets: 768px;
$desktops: 970px;

/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
